.full {
    display: flex;
    justify-content: center;
    padding: 100px;
    column-gap: 20px;
}
.unit {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid black;
    padding: 50px 10px 30px;
}
p {
    color: #b3b0b0;
    text-align: center;
}
.unit_button {
    border: 1px solid black;
    padding: 10px 10px;
}